<p id="notice"><%= notice %></p>

<h1>Desaparecidos</h1>

<!--<table class='ui celled table'>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Usuario</th>-->
<!--      <th>Nome</th>-->
<!--      <th>Idade</th>-->
<!--      <th>Sexo</th>-->
<!--      <th>Data nascimento</th>-->
<!--      <th>Mae</th>-->
<!--      <th>Pai</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @desaparecidas.each do |desaparecida| %>
<!--      <tr>-->
<!--        <td><%#= desaparecida.usuario %></td>-->
<!--        <td><%#= desaparecida.nome %></td>-->
<!--        <td><%#= desaparecida.idade %></td>-->
<!--        <td><%#= desaparecida.sexo %></td>-->
<!--        <td><%#= desaparecida.data_nascimento %></td>-->
<!--        <td><%#= desaparecida.mae %></td>-->
<!--        <td><%#= desaparecida.pai %></td>-->
<!--        <td><%#= link_to 'Visualizar', desaparecida %></td>-->
<!--        <td><%#= link_to 'Editar', edit_desaparecida_path(desaparecida) %></td>-->
<!--        <td><%#= link_to 'Excluir', desaparecida, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->




<div class="ui grid">



  <div class="four wide computer nine wide tablet six wide mobile column">
    <div class="ui card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Friends
        </a>
      </div>
    </div>

  </div>
  <div class="twelve wide column">
    <div class="row">
      <div class="column">
        <div class="ui message">
          <h1 class="ui header">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <a class="ui blue button">Learn more &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui grid">



  <div class="four wide computer nine wide tablet six wide mobile column">
    <div class="ui card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Friends
        </a>
      </div>
    </div>

  </div>
  <div class="twelve wide column">
    <div class="row">
      <div class="column">
        <div class="ui message">
          <h1 class="ui header">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <a class="ui blue button">Learn more &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>

