
  <div class="ui large form">
    <div class="ui stacked segment">
      <h1>Novo Usuario</h1>
      <%= render 'form', usuario: @usuario %>
    </div>
    <div class="ui message" style="text-align: center">
      Já possuo cadastro?
      <%= link_to 'Logar', login_usuarios_path %>
    </div>

  </div>

