<p id="notice"><%= notice %></p>

<h1>Desaparecidos</h1>

<p id="notice"><%= notice %></p>

<div class="ui grid">



  <div class="four wide computer nine wide tablet six wide mobile column">
    <div class="ui card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Friends
        </a>
      </div>
    </div>

  </div>
  <div class="twelve wide column">
    <div class="row">
      <div class="column">
        <div class="ui message">
          <h1 class="ui header">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <a class="ui blue button">Learn more &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="ui grid">



  <div class="four wide computer nine wide tablet six wide mobile column">
    <div class="ui card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Friends
        </a>
      </div>
    </div>

  </div>
  <div class="twelve wide column">
    <div class="row">
      <div class="column">
        <div class="ui message">
          <h1 class="ui header">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <a class="ui blue button">Learn more &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Novo Desaparecido', new_desaparecido_path %>
